/*****************************************************************
                               Variables
*****************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --Orange: hsl(25, 97%, 53%);

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  --font-familly-overPass: "Overpass", sans-serif;
}
/*****************************************************************
                               CSS Reset
*****************************************************************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*****************************************************************
                               Shared CSS
*****************************************************************/
/* all the commented styles are due my misunderstood of html 
markup i left a text out of the main tags and i couldn't center 
the div properly*/
body {
  font-family: var(--font-familly-overPass);
  font-size: 15px;
  /* height: 100vh; */
  background-color: var(--Very-Dark-Blue);
  /* display: grid;
  place-content: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  width: 100%;
}
/*****************************************************************
                               main card CSS
*****************************************************************/

.card {
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 17px -1px #999999;
  box-shadow: 0px 0px 17px -1px #999999;
  /* display: grid;
  place-content: center; */
  /* 
  width: 100%;
  height: 100%; */
  padding: 2rem;
  max-width: 25rem;
}
.star {
  background-color: var(--Very-Dark-Blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  animation:spin 20s linear infinite;
  
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}
.title {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--White);
  margin-bottom: 1rem;
}
.description {
  color: var(--Medium-Grey);
  font-size: 0.9;
  font-weight: 400;
  margin-bottom: 1rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
/* 
This is how many attempts i tried until alex from frontend mentor 
help me with this issue and pointed that i should style Label not
radio

.radio {
   background-color: var(--Light-Grey);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  font-size: 1.1rem;
   display: grid;
  place-content: center;
  appearance: none;
} 
 .radio > label {
  justify-content: center;
  align-items: center;
}  
input[type="radio"] {
  content:"";
  appearance: none;
} 
 input[type="radio"] {
  content:"";
  appearance: none;
  background-color: var(--Medium-Grey);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; 
   font-size: 1.1rem;
   position: relative;
}
input[type="radio"] + label>span {
  display: flex;
  justify-content: center;
  align-items: center; 
 
}
input[type="radio"]:hover{
  cursor: pointer;
  background-color: var(--Orange);
}
input[type="radio"]:checked{
  background-color: var(--White);
}  
 .radio:focus-visible{
  background-color: var(--White);
}
.radio:hover {
  cursor: pointer;
  background-color: var(--Orange);
}
.radio-label {
  display: grid;
  place-content: center;
} */
input[type="radio"]{
  appearance: none;
  content: "";
}
input[type="radio"] + label {
  display: grid;
  place-items: center;
  padding: 0.5em;
  height:50px;
  width: 50px;
  background-color: var(--Very-Dark-Blue);
  border-radius: 50%;
  transition: all 0.3s ease-out;
  color: var(--Light-Grey);
  font-weight: 400;
  font-size: 1.3rem;
}

input[type="radio"]:checked + label {
  background-color: var(--Orange);
  cursor: pointer;
  color: var(--White);
}
input[type="radio"]:hover + label{
  cursor: pointer;
  background-color: var(--White);
  color: var(--Dark-Blue);
}
input[type="radio"]:focus-visible + label{
  background-color: var(--Orange);
}
.submit {
  margin-top: 1rem;
  border: 0;
  color: var(--White);
  background-color: var(--Orange);
  transition: all 0.3s ease-out;
  gap: 1.25em;
  border-radius: 20px;
  width: 100%;
  text-transform: uppercase;
  /* min-width: 11rem; */
  height: 2.5rem;
}
.submit:hover {
  cursor: pointer;
  color: var(--Orange);
  background-color: var(--White);
  transform: scale(1.05);

}

/*****************************************************************
                        Thank you card CSS
*****************************************************************/
.hidden{
  display: none;
}
.thankyou-card{
  
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 17px -1px #999999;
  box-shadow: 0px 0px 17px -1px #999999;
  /* display: grid;
  place-content: center; */
  /* 
  width: 100%;
  height: 100%; */
  padding: 2rem;
  max-width: 25rem;
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result-submited{
  background-color: var(--Very-Dark-Blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  min-width: 15rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Orange);
}
.rating{
 margin-left: 0.3rem;
 margin-right: 0.3rem;
}
.thank{
  color: var(--White);
  font-size: 2rem;
  font-weight: 700;
}
.message{
 color: var(--White);
 line-height: 2rem;
 font-weight: 400;
 font-size: 1rem;
 text-align: center;
 
}